* {
    margin: 0px;
    padding: 0px;
}

html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

.bg-image {
    background-image: url("images/background.jpg");
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.bg-opacity {
    height: 500px;
    width: 100%;
    background-color: #191919;
    opacity: 0.8;
}

/* navbar starts */

/* .navbar {
    z-index: 180 !important;
}

.navbar-expand-lg {
    z-index: 180 !important;
}

.navbar-light {
    z-index: 180 !important;
} */

.container-fluid {
    z-index: 180 !important;
}

.navbar-toggler {
    background-color: #fcfcfc !important;
}

.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav-link {
    color: #fcfcfc !important;
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    margin-right: 20px;
}

/* navbar ends */

.cover-title {
    text-align: center;
    padding-top: 9rem;
    color: #fcfcfc;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.services-title, .growth-todo-title, .total-counts-title, .tiny-slider-title, .swiper-slider-title, .menu-title, .image-control-title, .tabs-control-title, .accordion-title, .droppable-title, .selectable-title {
    color: #277e71;
    padding: 20px;
    text-align: center;
}

.icon {
    color: #277e71;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #277e71;
}

.logo-card {
    text-align: center;
}

.card {
    box-shadow: 3px 4px 5px #277e71;
    height: 350px;
    width: 100%;
    padding: 15px;
    z-index: 1;
}

.card-title {
    text-align: center;
    color: #277e71 !important;
    font-size: 1.8rem;
}

.card-description {
    text-align: justify;
    color: gray;
    padding: 12px;
}

.when-scrolled {
    background-color: #277e71;
    /* position: fixed;
    top: 0; */
    transition: 1s;
    z-index: 9999999 !important;
}

.growth-div {
    z-index: 1;
}

/* todo starts */

.todo-input {
    width: 80%;
    padding: 10px;
    background-color: #ebe5e4;
    font-size: 1.2rem;
}

.todo-input:focus {
    background-color: #fcfcfc;
}

.todo-button {
    width: 20%;
    padding: 10px;
    background-color: #277e71;
    font-size: 1.2rem;
    color: #fcfcfc;
    text-transform: uppercase;
}

.todo-button:hover {
    opacity: 0.7;
}

.todo-ul li {
    list-style-type: none;
    font-size: 1.2rem;
}

.fa-trash-can {
    margin-left: 30px;
    color: #ee7a7a;
    cursor: pointer;
}

/* todo ends */

/* counter section starts here */

.bg-count {
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('images/background_count.jpg');
}

.client-title {
    color: #fcfcfc;
    font-size: 2rem;
}

.client-div {
    text-align: center;
    margin-top: 10rem;
}

.counter, .counter2, .counter3 {
    color: #fcfcfc;
}

@media screen and (max-width: 992px) {
    .bg-count {
        height: auto;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        /* background-size: cover; */
        background-attachment: fixed;
    }

    .client-div {
        margin-top: 3rem;
    }

    .client-div:last-child {
        margin-bottom: 3rem;
    }
}

/* counter section ends here */

/* tiny slider starts here */

.tiny-card {
    text-align: center;
}

.tiny-pic {
    height: 200px;
    width: 200px;
    z-index: -1 !important;
}

/* tiny slider ends here */

/* swiper slider ends here */

.swiper {
    width: 100%;
    height: 500px;
    z-index: 1 !important;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-text {
    position: absolute;
    color: #efa514;
    font-size: 3rem;
    top: 45%;
}

.swiper-link {
    position: absolute;
    padding: 10px !important;
    font-size: 1.8rem !important;
    font-weight: bold !important;
    top: 55%;
}

.swiper-link:hover {
    cursor: pointer;
}

.swiper-pic {
    height: 90%;
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .swiper-text {
        font-size: 2.7rem;
        top: 45%;
    }

    .swiper-link {
        padding: 9px !important;
        font-size: 1.6rem !important;
        top: 55%;
    }
}

@media screen and (max-width: 992px) {
    .swiper-text {
        font-size: 2.5rem;
        top: 43%;
    }

    .swiper-link {
        padding: 7px !important;
        font-size: 1.4rem !important;
        top: 58%;
    }
}

@media screen and (max-width: 600px) {
    .swiper-text {
        font-size: 2rem;
        top: 40%;
    }

    .swiper-link {
        padding: 5px !important;
        font-size: 1.2rem !important;
        top: 57%;
    }
}

/* swiper slider ends here */

/* footer starts */

footer {
    background-color: #0a3a33;
    height: auto;
    margin-top: 2rem;
    padding-bottom: 3rem;
}

/* footer ends */

/* animation starts */

.is-animated {
    opacity: 0;
    transform: translateX(-35%);
    transition: opacity 0.7s, transform 0.7s;
    z-index: -1;
}

.is-animated.scrolled-into-view {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.7s, transform 0.7s;
}

/* animation ends */

/* dialog starts */

/* #dialog_box, .ui-dialog-content, .ui-widget-content {
    z-index: 1;
} */

/* dialog ends */

/* scroll up button starts */

.go_up {
    background-color: #fcfcfc;
    bottom: 50px;
    right: 20px;
    position: fixed;
    padding-top: 2px;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    border: 1px solid #277e71;
    text-align: center;
    cursor: pointer;
    display: none;
    z-index: 20 !important;
}

.go_up:hover {
    background-color: #277e71;
    color: #fcfcfc;
}

/* scroll up button ends */

/* jquery ui menu starts*/

.ui_menu {
    max-width: fit-content;
    padding-left: 60px;
}

/* jquery ui menu ends*/

/* jquery ui slider starts*/

#slider {
    width: 80%;
    z-index: 1 !important;
}

/* .ui-slider, .ui-corner-all, .ui-slider-horizontal, .ui-widget, .ui-widget-content, .ui-slider-handle, .ui-corner-all, .ui-state-default {
    z-index: 1 !important;
} */

@media screen and (max-width:900px) {
    .small-screen {
        margin-top: 30px !important;
    }
}

#range_slider {
    width: 80%;
    z-index: 1 !important;
}

#height_slider, #width_slider, #opacity_slider {
    width: 80%;
    z-index: 1 !important;
}

/* jquery ui slider ends*/


/* jquery ui (animate) starts*/

#div_do_animation {
    border: 1px solid #191919;
    background-color: #277e71;
    color: #fcfcfc;
}

/* jquery ui (animate) ends*/

/* jquert ui effect starts */

#effect1, #effect2 {
    width: 150px;
    height: 150px;
    background-color: #277e71;
    color: #fcfcfc;
}

/* jquert ui effect ends */

/* jquert ui draggable starts */

#draggable_outer_div {
    height: 200px;
    width: 200px;
    border: 1px solid #191919;
}

#draggable_inner_div {
    height: 100px;
    width: 100px;
    background-color: #277e71;
    color: #fcfcfc;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#draggable_div {
    height: 50px;
    width: 50px;
    color: #fcfcfc;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#put_draggable_div_in_this_div {
    margin-top: 10px;
    height: 175px;
    width: 175px;
    border: 1px solid #191919;
}

/* jquert ui draggable ends */

/* jquert ui droppable starts */

#draggable_from, .droppable_to_1, .droppable_to_2 {
    width: 250px;
    background-color: #ebe5e4;
    color: #191919;
    border: 2px solid #191919;
    display: inline-table;
    font-size: 18px;
    padding: 5px;
}

#draggable_items li, #item1 li, #item2 li {
    font-size: 20px;
}

.during_drag {
    background-color: #ace1af;
    border: 2px dashed #191919;
}

/* jquert ui droppable ends */

/* jquert ui resizable starts */

#resizable-div {
    height: 150px;
    width: 150px;
    background-color: #277e71;
    color: #fcfcfc;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

/* jquert ui resizable ends */

/* jquert ui selectable starts */

#selectable li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #191919;
    cursor: pointer;
}

.ui-selecting {
    background-color: #ce5f38;
    color: #fcfcfc;
}

.ui-selected {
    background-color: #277e71;
    color: #fcfcfc;
}

/* jquert ui selectable ends */

/* jquert ui sortable starts */

#sortable1, #sortable2 {
    float: left;
}

#sortable1 li, #sortable2 li {
    padding: 5px;
    border: 1px solid #191919;
    list-style-type: none;
    cursor: pointer;
}

.placeholder {
    background-color: #ce5f38 !important;
    height: 40px;
    width: 80px;
}

.ui-sortable-helper {
    background-color: #ace1af;
}

/* jquert ui sortable ends */